* {
    margin: 0;
    padding: 0;
}

.main-nav {
    background-color: rgb(5, 5, 56);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    align-items: center;
}

.nav-bar {
    display: flex;
    gap: 15px;
}
a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.child {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    align-items: center;
    gap: 25px;
}

button {
    padding:15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}